body {
     margin: 0; 
    }

.image{
    width: 50px;
    height: 50px;
}

h3{
    display: inline-block;
}

li:hover{
    color: brown;
    cursor: pointer;  
}

 li{
    margin: 20px 20px;
    padding-top: 10px;

 }
ul{
    
    background-color: palevioletred;
    color: azure;
    width: 180px;
    height: 100vh;
    margin-top: 30px;
    padding: 0;
    list-style: none; 
    padding-left: 0; 
}

header{
    margin-left: 180px;
    top: 30px;
}
